.experience-section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

.experience-type{
    position: relative;
    width: 100%;
    height: auto;
}

.experience{
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

.experience-type-header{
    position: relative;
    width: 100%;
    display: inline-flex;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: black dashed 2px;
}

.experience-type-icon{
    margin-right: 20px;
}