.experience-section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

.experience-type{
    position: relative;
    width: 100%;
    height: auto;
}

.experience{
    position: relative;
    border: solid 4px black;
    margin: auto;
    margin-bottom: 50px;
}

