.section-header{
    font-size: 150px;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    text-align: center;

}
.section-header-container{
    position: relative;
    margin-bottom: 30px;
}
.section-subheader{
    font-size: 20px;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    text-align: center;
}

#profile-container{
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 100px;
}

#profile-page{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.ribben{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ribben-leftside{
    position: relative;
    width: 30%;
    height: 100%;
    text-align: center;
    float: left;    
}

#name-on-ribben{
    position: absolute;
    width: 100%;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ribben-rightside{
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
    color: white;
}

.circle-picture-frame{
    position: absolute;
    background-color: #bbb;
    height: 400px;
    width: 400px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.profile-box{
    padding: 20px;
    height: 400px;
}

.checked {
    color: orange;
}

.ribben-icons{
    position: absolute;
    width: 100%;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* UPDATES TO THE PROFILE PAGE */
.aboutme-container{
    height: 400px;
    position: relative;
    width: 90%;
    min-width: 900px;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 20px;
}

.profile{
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

img.img-of-me{
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;

}
.img-of-me-container{
    position: relative;
    height: 100%;
    padding: 0px;
}


.about-me-header{
    text-align: center;
}