
<div class="experience-section">
    <div class="section-header-container" id="experience">
        <h1 class="section-header">Experience</h1>
    </div>
    <div class="container-fluid experience-content-container">
        <div class="container-fluid experience-type" style="padding: initial"> 
            <div class="experience-type-header"><ion-icon class="experience-type-icon" name="construct-outline" size="large"></ion-icon><h3>Internships</h3></div>
            <div class="row experience">
                <div class="col-4">
                    <div class="row"> <h5><b>Lowe's</b></h5> </div>
                    <div class="row"> 05/2020 - 07/2020 </div>
                </div>
                <div class="col">
                    <div class="row"> Software Engineering Intern with UX eCommerce </div>
                    <div class="row">
                        My assignment was to work with a UX eCommerce team to create an internal website to give eCommerce 
                        project managers and directors a better experience when visualizing current, expected, and total 
                        forecasted revenue for eCommerce product data   
                    </div>
                </div>
            </div>
            <div class="row experience">
                <div class="col-4">
                    <div class="row"> <h5><b>Fuji Electric</b></h5> </div>
                    <div class="row"> 04/2019 - 07/2019 </div>
                </div>
                <div class="col">
                    <div class="row"> Engineering Intern </div>
                    <div class="row"> 
                        <ul>
                            <li> Constructed agendas and itineraries for out of town guests. </li>
                            <li> In charge of finding and deploying a new employee time management system </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid experience-type" style="padding: initial"> 
            <div class="experience-type-header"><ion-icon class="experience-type-icon" name="library-outline" size="large"></ion-icon><h3>Education</h3></div>
            <div class="row experience">
                <div class="col-4">
                    <div class="row"> Virginia Tech
                    </div>
                    <div class="row"> Date
                    </div>
                </div>
                <div class="col">
                    <div class="row"> details
                    </div>
                </div>
            </div>
            <div class="row experience">
                <div class="col-4">
                    <div class="row"> Virginia Western
                    </div>
                    <div class="row"> Date
                    </div>
                </div>
                <div class="col">
                    <div class="row"> details
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid experience-type" style="padding: initial"> 
            <div class="experience-type-header"><ion-icon class="experience-type-icon" name="code-working-outline" size="large"></ion-icon><h3>Skills</h3></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Front-End Skills</th>
                        <th></th>
                        <th>Back-End Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HTML</td>
                        <td> Skill rating </td>
                        <td>Java</td>
                        <td> Skill rating </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</div>