
<div class="profile">
    <div class="section-header-container" id="profile">
        <h1 class="section-header">Profile</h1>
    </div>
    {# This will contain the whole profile part of the page #}
    <div class="container-fluid" id="profile-container" style="border: black solid 2px"> 
        <div class="contain-ribben ">
            <div class="row aboutme-container">
                <div class="col-6 img-of-me-container">
                    <img class="img-of-me " src="{{asset_url}}/img/blackimage.jpg"/>
                </div>
                <div class="col-6">
                    <h3 class="about-me-header ">
                        A little about me
                    </h3>
                    <div class="about-me">

                    </div>
                </div>
            </div>
    
        </div>
    
    </div>

</div>

