<div class="project">
    <div class="section-header-container" id="projects">
        <h1 class="section-header">Projects</h1>
    </div>
        <div class="card-deck list-of-projects">
            {% include '/components/project_card.twig' %}
            {% include '/components/project_card.twig' %}
            {% include '/components/project_card.twig' %}
        </div>
</div>