<div class="shadow-lg card" style="width:400px;">
    <img class="card-img-top" src="{{asset_url}}/img/blackimage.jpg" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">My Website</h4>
        <p class="card-text">I needed a personal website.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>