{# get this from https://bootstrapious.com/p/bootstrap-sidebar #}

<nav id="sidebar">
    <div class="sidebar-header">
        <h3 id="sidebar-title">Evan's Website</h3>
    </div>
    <ul class="list-unstyled components">

        <li class="active navagation-list-item">
            <a class="navagation-item" href="#profile">Profile</a>
        </li>
        <li class="navagation-list-item">
            <a class="navagation-item" href="#experience">Experience</a>
        </li>
        <li class="navagation-list-item">
            <a class="navagation-item" href="#projects">Projects</a>
        </li>
        <li class="navagation-list-item">
            <a class="navagation-item" href="#">My Articles</a>
        </li>
        <li class="navagation-list-item">
            <a class="navagation-item" href="#" data-toggle="popover" title="Popover Header" data-placement="bottom" data-content="Some content inside the popover">Connect</a>
        </li>

    </ul>
</nav>

