<table class="table table-borderless">
    <thead>
      <tr>
        <th>Ability</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML</td>
        <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </td>
      </tr>
      <tr>
        <td>JS</td>
        <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </td>
      </tr>
      <tr>
        <td>Java</td>
        <td>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </td>
      </tr>
    </tbody>
  </table>